{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b ~/.local/bin
~/.local/bin/task --taskfile ~/.local/share/chezmoi/deploy.linux.yml deploy

{{ else }}

task --taskfile "$(Get-Location)/.local/share/chezmoi/deploy.windows.yml" deploy

{{ end -}}
